<?xml version="1.0"?>
<robot name="meldog_core" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Xacro macros -->
    <xacro:include filename="macros/link_macro.urdf.xacro" />

    <!-- Link properties -->
    <xacro:include filename="links/properties/F_properties.urdf.xacro"/>
    <xacro:include filename="links/properties/H_properties.urdf.xacro"/>
    <xacro:include filename="links/properties/LL_properties.urdf.xacro"/>
    <xacro:include filename="links/properties/UL_properties.urdf.xacro"/>

    <!-- Joint properties -->
    <xacro:include filename="joints/properties/T_joint_properties.urdf.xacro"/>
    <xacro:include filename="joints/properties/H_joint_properties.urdf.xacro"/>
    <xacro:include filename="joints/properties/K_joint_properties.urdf.xacro"/>

    <!-- Gazebo -->
    <xacro:include filename="gazebo/gazebo_properties.urdf.xacro" />
    <xacro:include filename="gazebo/meldog_gazebo.urdf.xacro" />
    <!-- IMU gazebo setup -->
    <xacro:include filename="gazebo/imu_gazebo_setup.urdf.xacro"/>

    <!-- Contact sensors setup -->
    <xacro:include filename="gazebo/contact_gazebo_setup.urdf.xacro"/>


    <!-- ROS2 Control -->
    <xacro:include filename="ros2_control/meldog_gazebo_ros2_control.urdf.xacro"/>


    <!-- LINKS -->

        <!-- Base link -->
        <link name="base_link" />

        <!-- Trunk link -->
        <xacro:include filename="links/trunk.urdf.xacro" />

        <!-- IMU link -->
        <xacro:include filename="links/sensors/imu_link.urdf.xacro" />

        <!-- Left front leg links -->

            <!-- Left front hip link -->
            <xacro:include filename="links/hip/LFH_link.urdf.xacro"/>

            <!-- Left front upper limb link -->
            <xacro:include filename="links/upper_limb/LFUL_link.urdf.xacro"/>

            <!-- Left front lower limb link -->
            <xacro:include filename="links/lower_limb/LFLL_link.urdf.xacro"/>

            <!-- Left front foot link -->
            <xacro:include filename="links/foot/LFF_link.urdf.xacro"/>


        <!-- Right front leg links -->

            <!-- Right front hip link -->
            <xacro:include filename="links/hip/RFH_link.urdf.xacro"/>

            <!-- Right front upper limb link -->
            <xacro:include filename="links/upper_limb/RFUL_link.urdf.xacro"/>

            <!-- Right front lower limb link -->
            <xacro:include filename="links/lower_limb/RFLL_link.urdf.xacro"/>

            <!-- Right front foot link -->
            <xacro:include filename="links/foot/RFF_link.urdf.xacro"/>

        <!-- Left rear leg links -->

            <!-- Left rear hip link -->
            <xacro:include filename="links/hip/LRH_link.urdf.xacro"/>

            <!-- Left rear upper limb link -->
            <xacro:include filename="links/upper_limb/LRUL_link.urdf.xacro"/>

            <!-- Left rear lower limb link -->
            <xacro:include filename="links/lower_limb/LRLL_link.urdf.xacro"/>

            <!-- Left rear foot link -->
            <xacro:include filename="links/foot/LRF_link.urdf.xacro"/>

        <!-- Right rear leg links -->

            <!-- Right rear hip link -->
            <xacro:include filename="links/hip/RRH_link.urdf.xacro"/>

            <!-- Right rear upper limb link -->
            <xacro:include filename="links/upper_limb/RRUL_link.urdf.xacro"/>

            <!-- Right rear lower limb link -->
            <xacro:include filename="links/lower_limb/RRLL_link.urdf.xacro"/>

            <!-- Right rear foot link -->
            <xacro:include filename="links/foot/RRF_link.urdf.xacro"/>
    
    <!-- JOINTS -->

        <joint name="base_joint" type="fixed">
            <parent link="base_link" />
            <child link="trunk_link" />
            <origin xyz="0 0 0.55" rpy="0 0 0" />
        </joint>

        <!-- IMU joint -->
        <xacro:include filename="joints/sensors/imu_joint.urdf.xacro"/>

        <!-- Left front leg joints -->

            <!-- Left front trunk joint -->
            <xacro:include filename="joints/trunk/LFT_joint.urdf.xacro"/>

            <!-- Left front hip joint -->
            <xacro:include filename="joints/hip/LFH_joint.urdf.xacro"/>

            <!-- Left front knee joint -->
            <xacro:include filename="joints/knee/LFK_joint.urdf.xacro"/>

            <!-- Left front foot joint -->
            <xacro:include filename="joints/foot/LFF_joint.urdf.xacro"/>


        <!-- Right front leg joints -->

            <!-- Right front trunk joint -->
            <xacro:include filename="joints/trunk/RFT_joint.urdf.xacro"/>

            <!-- Right front hip joint -->
            <xacro:include filename="joints/hip/RFH_joint.urdf.xacro"/>

            <!-- Right front knee joint -->
            <xacro:include filename="joints/knee/RFK_joint.urdf.xacro"/>

            <!-- Right front foot joint -->
            <xacro:include filename="joints/foot/RFF_joint.urdf.xacro"/>


        <!-- Left rear leg joints -->

            <!-- Left rear trunk joint -->
            <xacro:include filename="joints/trunk/LRT_joint.urdf.xacro"/>

            <!-- Left rear hip joint -->
            <xacro:include filename="joints/hip/LRH_joint.urdf.xacro"/>

            <!-- Left rear knee joint -->
            <xacro:include filename="joints/knee/LRK_joint.urdf.xacro"/>

            <!-- Left rear foot joint -->
            <xacro:include filename="joints/foot/LRF_joint.urdf.xacro"/>


        <!-- Right rear leg joints -->

            <!-- Right rear trunk joint -->
            <xacro:include filename="joints/trunk/RRT_joint.urdf.xacro"/>

            <!-- Right rear hip joint -->
            <xacro:include filename="joints/hip/RRH_joint.urdf.xacro"/>

            <!-- Right rear knee joint -->
            <xacro:include filename="joints/knee/RRK_joint.urdf.xacro"/>

            <!-- Right rear foot joint -->
            <xacro:include filename="joints/foot/RRF_joint.urdf.xacro"/>

</robot>