<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Knee joint origin -->
    <!-- Knee origin is simply defined by upper limb length defined in knee link properties -->

    <!-- Knee joint movement limits -->
    <xacro:property name="K_lower_limit" value="-160" /> <!-- degrees-->
    <xacro:property name="K_upper_limit" value="160" /> <!-- degrees-->

    <!-- Knee joint effort and velocity limits -->
    <xacro:property name="K_effort" value="${motor_max_eff*actuator_reduction}" />
    <xacro:property name="K_velocity" value="${motor_max_vel*pi/30.0/actuator_reduction}" />

    <!-- Knee joint friction and damping -->
    <xacro:property name="K_damping" value="0.05"/>
    <xacro:property name="K_friction" value="0.1312"/>

</robot>