<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = "meldog_ros2_control_core">

    <!-- Joint hardware properties and macros: -->
    <xacro:include filename="joints_hardware/joint_hardware_properties.urdf.xacro"/>
    <xacro:include filename="joints_hardware/joint_hardware_macros.urdf.xacro"/>

    <!-- Transmissions: -->
    <xacro:include filename="transmission/transmission_macros.urdf.xacro"/>

    <!-- Hardware interface for Gazebo: -->

    <!-- Trunk to Hips joints-->
    <xacro:joint_hardware_macro joint_name="FLH" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="FRH" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="BLH" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="BRH" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    
    <!-- Hips to Thighs joints -->
    <xacro:joint_hardware_macro joint_name="FLT" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="FRT" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="BLT" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="BRT" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    
    <!-- Thighs to Shanks joints -->
    <xacro:joint_hardware_macro joint_name="FLS" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="FRS" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="BLS" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>
    <xacro:joint_hardware_macro joint_name="BRS" lower="${motor_lower_limit}" upper="${motor_upper_limit}"/>

</robot>