<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name ="meldog_transmissions">

    <!-- SimpleTransmission macro -->
    <xacro:macro name="SimpleTransmission" params="joint_name reduction offset">
        <transmission name="SimpleTransmission_${joint_name}">
                <plugin>transmission_interface/SimpleTransmission</plugin>
                <actuator name="${joint_name}_actuator" role="actuator1"/>
                <joint name="${joint_name}_joint" role="joint1">
                    <mechanical_reduction>${reduction}</mechanical_reduction>
                    <offset>${offset}</offset>
                </joint>
        </transmission>
    </xacro:macro>

    <!-- FourBarLinkageTransmission macro -->
    <xacro:macro name="FourBarLinkageTransmission" params="first_joint_name second_joint_name reduction first_offset second_offset">
        <transmission name="FourBarLinkageTransmission_${first_joint_name}_${second_joint_name}">
            <plugin>transmission_interface/FourBarLinkageTransmission</plugin>
            <actuator name="${first_joint_name}_actuator" role="actuator1">
                <mechanical_reduction>${reduction}</mechanical_reduction>
            </actuator>
            <actuator name="${second_joint_name}_actuator" role="actuator2">
                <mechanical_reduction>${reduction}</mechanical_reduction>
            </actuator>
            <joint name="${first_joint_name}_joint" role="joint1">
                <mechanical_reduction>1.0</mechanical_reduction>
                <offset>${first_offset}</offset>
            </joint>
            <joint name="${second_joint_name}_joint" role="joint2">
                <mechanical_reduction>1.0</mechanical_reduction>
                <offset>${second_offset}</offset>
            </joint>
        </transmission>
    </xacro:macro>

    <!-- Meldog Transmissions: -->

    <!-- Trunk to Hips transmissions -->
    <xacro:SimpleTransmission joint_name="FLH" reduction="9.97" offset="0.0"/>
    <xacro:SimpleTransmission joint_name="FRH" reduction="9.97" offset="0.0"/>
    <xacro:SimpleTransmission joint_name="BLH" reduction="9.97" offset="0.0"/>
    <xacro:SimpleTransmission joint_name="BRH" reduction="9.97" offset="0.0"/>

    <!-- Thighs to Shanks transmissions -->
    <xacro:FourBarLinkageTransmission first_joint_name="FLT" second_joint_name="FLS" reduction="9.97" first_offset="0.0" second_offset="0.0"/>
    <xacro:FourBarLinkageTransmission first_joint_name="FRT" second_joint_name="FRS" reduction="9.97" first_offset="0.0" second_offset="0.0"/>
    <xacro:FourBarLinkageTransmission first_joint_name="BLT" second_joint_name="BLS" reduction="9.97" first_offset="0.0" second_offset="0.0"/>
    <xacro:FourBarLinkageTransmission first_joint_name="BRT" second_joint_name="BRS" reduction="9.97" first_offset="0.0" second_offset="0.0"/>

</robot>