<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- simple collision shape properties  -->
    <xacro:property name="trunk_col_length" value="0.8"/>
    <xacro:property name="trunk_has_sc" value="1"/>
    <xacro:property name="trunk_col_radius" value="0.2"/>

    <!-- meshes -->
    <xacro:property name="trunk_vis_stl_name" value="trunk.stl" />
    <xacro:property name="trunk_coll_stl_name" value="trunk_collision.stl" />

    <!-- inertial properties -->

        <!-- mass -->
        <xacro:property name="trunk_mass" value="10.0"/> <!--Kilograms-->

        <!-- center of mass -->
        <xacro:property name="trunk_cm_x" value="0"/>
        <xacro:property name="trunk_cm_y" value="0"/>
        <xacro:property name="trunk_cm_z" value="0"/>

        <!-- moments of inertia -->
        <!-- Current Inertia values approximated by cuboid, not real CAD values,
        real robot trunk dimensions 72x34x14cm XYZ,
        here used inertia values fo cuboid 50x34x14 of uniform density to  better approximate real weight distribution-->
        <xacro:property name="trunk_ixx" value="112667.0"/> <!-- g*mm^2-->
        <xacro:property name="trunk_ixy" value="0"/> <!-- g*mm^2-->
        <xacro:property name="trunk_ixz" value="00"/> <!-- g*mm^2-->

        <xacro:property name="trunk_iyy" value="224667.0"/> <!-- g*mm^2-->
        <xacro:property name="trunk_iyz" value="0"/> <!-- g*mm^2-->

        <xacro:property name="trunk_izz" value="304667.0"/> <!-- g*mm^2-->

</robot>