<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- simple collision shape properties  -->
    <xacro:property name="upper_limb_has_sc" value="0"/>
    <xacro:property name="upper_limb_col_length" value="0.25"/>
    <xacro:property name="upper_limb_col_radius" value="0.05"/>

    <!-- meshes -->
    <xacro:property name="upper_limb_vis_stl_name" value="upper_limb_test.stl" />
    <xacro:property name="upper_limb_coll_stl_name" value="upper_limb_collision.stl" />

    <!-- limb dimensions -->
    <xacro:property name="upper_limb_length" value="0.25" />

    <!-- inertial properties -->

        <!-- mass -->
        <xacro:property name="upper_limb_mass" value="0.398"/>

        <!-- center of mass -->
        <xacro:property name="upper_limb_cm_x" value="-0.467"/>
        <xacro:property name="upper_limb_cm_y" value="0.271"/>
        <xacro:property name="upper_limb_cm_z" value="-105.160"/>

        <!-- moments of inertia -->
        <xacro:property name="upper_limb_ixx" value="3553.000"/>
        <xacro:property name="upper_limb_ixy" value="0.288"/>
        <xacro:property name="upper_limb_ixz" value="3.222"/>

        <xacro:property name="upper_limb_iyy" value="3648.05"/>
        <xacro:property name="upper_limb_iyz" value="29.960"/>

        <xacro:property name="upper_limb_izz" value="309.300"/>

</robot>