<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="../../base_properties.urdf.xacro" />
    <xacro:include filename="../../macros/macros.urdf.xacro"/>

    <xacro:link_macro 
        name="lf_upper_limb_link" 
        vis_name="${upper_limb_vis_stl_name}" 
        coll_name="${upper_limb_coll_stl_name}" 

        m="${upper_limb_mass}" 
        cm_x="${upper_limb_cm_x}" 
        cm_y="${upper_limb_cm_y}" 
        cm_z="${upper_limb_cm_z}"

        ixx="${upper_limb_ixx}" ixy="${upper_limb_ixy}" ixz="${upper_limb_ixz}" 
                                iyy="${upper_limb_iyy}" iyz="${upper_limb_iyz}" 
                                                        izz="${upper_limb_izz}"/>

</robot>