<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Set to 1 to enable gazebo link physic parameters -->
    <xacro:property name="use_gz_links" value="1" />

    <!-- Set to 1 to enable gazebo joint physic parameters -->
    <xacro:property name="use_gz_joints" value="1" />

    <!-- Gazebo joint parameters -->
    <xacro:property name="implicitSpringDamper_value" value="1" />
    <xacro:property name="springStiffness_value" value="0" />
    <xacro:property name="springReference_value" value="0" />
    <xacro:property name="implicitSpringDamper_value" value="0" />
    <xacro:property name="stopErp_value" value="0" />
    <xacro:property name="stopCfm_value" value="0" />

    <!-- Gazebo link parameters for all links except feet-->
    <xacro:property name="mu1_value" value="0" />
    <xacro:property name="mu2_value" value="0" />
    <xacro:property name="kp_value" value="0" />
    <xacro:property name="kd_value" value="0" />
    <xacro:property name="maxVel_value" value="0" />
    <xacro:property name="dampingFactor_value" value="0" />

    <!-- Gazebo link parameters for feet -->
    <xacro:property name="mu1_value_foot" value="0" />
    <xacro:property name="mu2_value_foot" value="0" />
    <xacro:property name="kp_value_foot" value="0" />
    <xacro:property name="kd_value_foot" value="0" />
    <xacro:property name="maxVel_value_foot" value="0" />
    <xacro:property name="dampingFactor_value_foot" value="0" />


    <!--      GAZEBO IMU NOICE PARAMETERS      -->

        <!-- Angular velocity noise parameters -->
        <!-- <xacro:property name="ang_mean" value="0.0"/>
        <xacro:property name="ang_stddev" value="2e-4"/>
        <xacro:property name="ang_bias_mean" value="0.0000075"/>
        <xacro:property name="ang_bias_stddev" value="0.0000008"/> -->
        <xacro:property name="ang_mean" value="0.0"/>
        <xacro:property name="ang_stddev" value="0.0"/>
        <xacro:property name="ang_bias_mean" value="0.0"/>
        <xacro:property name="ang_bias_stddev" value="0.0"/>

        <!-- Linear acceleration noise parameters -->
        <!-- <xacro:property name="lin_mean" value="0.0"/>
        <xacro:property name="lin_stddev" value="1.7e-2"/>
        <xacro:property name="lin_bias_mean" value="0.1"/>
        <xacro:property name="lin_bias_stddev" value="0.001"/> -->
        <xacro:property name="lin_mean" value="0.0"/>
        <xacro:property name="lin_stddev" value="0.0"/>
        <xacro:property name="lin_bias_mean" value="0.0"/>
        <xacro:property name="lin_bias_stddev" value="0.0"/>

</robot>