<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="ros2_control_macros.urdf.xacro" />
    <xacro:include filename="hardware_properties.urdf.xacro" />
    <xacro:include filename="../joints/properties/H_joint_properties.urdf.xacro" />
    <xacro:include filename="../joints/properties/K_joint_properties.urdf.xacro" />
    <xacro:include filename="../joints/properties/T_joint_properties.urdf.xacro" />


    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>      
        </hardware>

        <!-- IMU Sensor -->
        <sensor name="imu_sensor" type="imu">
          <!--  !!! name has to be the same as in meldog_controllers.yaml !!! -->
          
          <!-- IMU state -->
          <state_interface name="orientation.x"/>
          <state_interface name="orientation.y"/>
          <state_interface name="orientation.z"/>
          <state_interface name="orientation.w"/> 

          <state_interface name="angular_velocity.x"/>
          <state_interface name="angular_velocity.y"/>
          <state_interface name="angular_velocity.z"/>

          <state_interface name="linear_acceleration.x"/>
          <state_interface name="linear_acceleration.y"/>
          <state_interface name="linear_acceleration.z"/>
        </sensor>

        <sensor name="LFF_contact" type = "contact_sensor">
          <state_interface name="contact"/>
        </sensor>

        <sensor name="RFF_contact" type = "contact_sensor">
          <state_interface name="contact"/>
        </sensor>

        <sensor name="LRF_contact" type = "contact_sensor">
          <state_interface name="contact"/>
        </sensor>
        
        <sensor name="RRF_contact" type = "contact_sensor">
          <state_interface name="contact"/>
        </sensor>

        <!-- joints -->
        <xacro:ros2_control_joint_macro name="LFT" pos_min="${T_lower_limit}" pos_max="${T_upper_limit}" vel_max="${T_velocity}" eff_max="${T_effort}"/>
        <xacro:ros2_control_joint_macro name="LFH" pos_min="${H_lower_limit}" pos_max="${H_upper_limit}" vel_max="${H_velocity}" eff_max="${H_effort}"/>
        <xacro:ros2_control_joint_macro name="LFK" pos_min="${K_lower_limit}" pos_max="${K_upper_limit}" vel_max="${K_velocity}" eff_max="${K_effort}"/>

        <xacro:ros2_control_joint_macro name="RFT" pos_min="${T_lower_limit}" pos_max="${T_upper_limit}" vel_max="${T_velocity}" eff_max="${T_effort}"/>
        <xacro:ros2_control_joint_macro name="RFH" pos_min="${H_lower_limit}" pos_max="${H_upper_limit}" vel_max="${H_velocity}" eff_max="${H_effort}"/>
        <xacro:ros2_control_joint_macro name="RFK" pos_min="${K_lower_limit}" pos_max="${K_upper_limit}" vel_max="${K_velocity}" eff_max="${K_effort}"/>

        <xacro:ros2_control_joint_macro name="LRT" pos_min="${T_lower_limit}" pos_max="${T_upper_limit}" vel_max="${T_velocity}" eff_max="${T_effort}"/>
        <xacro:ros2_control_joint_macro name="LRH" pos_min="${H_lower_limit}" pos_max="${H_upper_limit}" vel_max="${H_velocity}" eff_max="${H_effort}"/>
        <xacro:ros2_control_joint_macro name="LRK" pos_min="${K_lower_limit}" pos_max="${K_upper_limit}" vel_max="${K_velocity}" eff_max="${K_effort}"/>

        <xacro:ros2_control_joint_macro name="RRT" pos_min="${T_lower_limit}" pos_max="${T_upper_limit}" vel_max="${T_velocity}" eff_max="${T_effort}"/>
        <xacro:ros2_control_joint_macro name="RRH" pos_min="${H_lower_limit}" pos_max="${H_upper_limit}" vel_max="${H_velocity}" eff_max="${H_effort}"/>
        <xacro:ros2_control_joint_macro name="RRK" pos_min="${K_lower_limit}" pos_max="${K_upper_limit}" vel_max="${K_velocity}" eff_max="${K_effort}"/>

        <!-- transmission -->
        <!-- <xacro:simple_transmission joint="LFT" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="LFH" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="LFK" reduction="${actuator_reduction}" offset="0.0" />

        <xacro:simple_transmission joint="RFT" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="RFH" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="RFK" reduction="${actuator_reduction}" offset="0.0" />

        <xacro:simple_transmission joint="LRT" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="LRH" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="LRK" reduction="${actuator_reduction}" offset="0.0" />

        <xacro:simple_transmission joint="RRT" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="RRH" reduction="${actuator_reduction}" offset="0.0" />
        <xacro:simple_transmission joint="RRK" reduction="${actuator_reduction}" offset="0.0" /> -->

        <!-- <xacro:FourBarLinkageTransmission first_joint_name="LFH" second_joint_name="LFK" />
        <xacro:FourBarLinkageTransmission first_joint_name="RFH" second_joint_name="RFK" />
        <xacro:FourBarLinkageTransmission first_joint_name="LRH" second_joint_name="LRK" />
        <xacro:FourBarLinkageTransmission first_joint_name="RRH" second_joint_name="RRK" /> -->
        
    </ros2_control>


    <gazebo>
        <plugin filename="gz_ros2_control-system"
          name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <robot_param>robot_description</robot_param>
          <robot_param_node>robot_state_publisher</robot_param_node>
          <parameters>$(find meldog_description)/controllers/meldog_joint_controllers.yaml</parameters>
          <hold_joints>true</hold_joints>
        </plugin>
    </gazebo>

</robot>