<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- meshes -->
    <xacro:property name="hip_vis_stl_name" value="hip_test.stl" />
    <xacro:property name="hip_coll_stl_name" value="hip_collision.stl" />

    <!-- inertial properties -->

        <!-- mass -->
        <xacro:property name="hip_mass" value="2.276"/>

        <!-- center of mass -->
        <xacro:property name="hip_cm_x" value="126.369"/>
        <xacro:property name="hip_cm_y" value="14.729"/>
        <xacro:property name="hip_cm_z" value="0.160"/>

        <!-- tensor of inertia -->
        <xacro:property name="hip_ixx" value="3609.753"/>
        <xacro:property name="hip_ixy" value="-371.167"/>
        <xacro:property name="hip_ixz" value="0.550"/>

        <xacro:property name="hip_iyy" value="8775.172"/>
        <xacro:property name="hip_iyz" value="17.541"/>

        <xacro:property name="hip_izz" value="9362.116"/>

</robot>