<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- meshes -->
    <xacro:property name="lower_limb_vis_stl_name" value="LL_vis_v2.stl" />
    <xacro:property name="lower_limb_coll_stl_name" value="lower_limb_collision.stl" />

    <!-- Limb dimensions -->
    <xacro:property name="lower_limb_length_to_foot" value="0.25" />

    <!-- inertial properties -->

        <!-- mass -->
        <xacro:property name="lower_limb_mass" value="0.079"/>

        <!-- center of mass -->
        <xacro:property name="lower_limb_cm_x" value="0.801"/>
        <xacro:property name="lower_limb_cm_y" value="0"/>
        <xacro:property name="lower_limb_cm_z" value="-139.836"/>

        <!-- moments of inertia -->
        <xacro:property name="lower_limb_ixx" value="598.222"/>
        <xacro:property name="lower_limb_ixy" value="0.0"/>
        <xacro:property name="lower_limb_ixz" value="-2.447"/>

        <xacro:property name="lower_limb_iyy" value="603.088"/>
        <xacro:property name="lower_limb_iyz" value="0.0"/>

        <xacro:property name="lower_limb_izz" value="13.771"/>

</robot>