<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macro for defining a link, please ensure that 
    the visual and collision models coordinate 
    systems are placed in joints -->

    <!-- sc abbreviates simple collision -->

    <xacro:macro name="link_macro" params="name has_sc sc_length sc_radius vis_name coll_name m cm_x cm_y cm_z ixx ixy ixz iyy iyz izz
                                            vis_xyz:='0.0 0.0 0.0' vis_rpy:='0.0 0.0 0.0'
                                            coll_xyz:='0.0 0.0 0.0' coll_rpy:='0.0 0.0 0.0'">

        <link name="${name}">
            <visual>
                <geometry>
                    <mesh filename="package://meldog_description/meshes/visual/${vis_name}" 
                          scale="0.001 0.001 0.001" />
                </geometry>
                <origin xyz="${vis_xyz}" rpy="${vis_rpy}"/>
            </visual>

            <xacro:if value="${has_sc == 0}">
                <collision name="collision">
                    <geometry>
                        <xacro:if value="${sc_length == 0}">
                            <sphere radius="${sc_radius}" />
                        </xacro:if>
                        <xacro:if value="${sc_length != 0}">
                            <cylinder length="${sc_length}" radius="${sc_radius}"/>
                        </xacro:if>
                    </geometry>
                    <origin xyz="${coll_xyz}" rpy="${coll_rpy}" />
                </collision>
            </xacro:if>
            

            <xacro:if value="${has_sc == 1}">
                <collision>
                    <geometry>
                        <mesh filename="package://meldog_description/meshes/collision/${coll_name}" 
                            scale="0.001 0.001 0.001" />
                    </geometry>
                    <origin xyz="${coll_xyz}" rpy="${coll_rpy}" />
                </collision>
            </xacro:if>
    
            <inertial>
                <mass value="${m}" />
                <origin xyz="${cm_x*0.001} ${cm_y*0.001} ${cm_z*0.001}" rpy="0 0 0" />
                <inertia ixx="${ixx*0.000001}" ixy="${ixy*0.000001}" ixz="${ixz*0.000001}" 
                                               iyy="${iyy*0.000001}" iyz="${iyz*0.000001}" 
                                                                     izz="${izz*0.000001}" />
            </inertial>

        </link>

    </xacro:macro>

</robot>